/* RESERVATION SECTION */
.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

.form__section {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.reservation__form {
  padding-bottom: 0;
}

.reservation__title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
}

.form__fieldset {
  margin-bottom: 32px;
  border: none;
}

.form__label {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__label_full-name {
  margin-top: 80px;
}

.form__label[type="tos-agree"] {
  display: inline;
  margin-left: 12px;
  vertical-align: middle;
  font-weight: 400;
}

.form__input {
  background: #ffffff;
  border: 1px solid #838383;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 385px;
  padding: 24px;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="datetime-local"],
.form__input[type="email"],
.form__input[type="submit"] {
  border-radius: 4px;
  min-width: 385px;
  height: 60px;
}

.form__input::placeholder {
  font-size: 16px;
  color: #8b8b8b;
}

.form__input[type="checkbox"] {
  border-radius: 4px;
  min-width: 28px;
  min-height: 28px;
  vertical-align: middle;
}

.form__button[type="submit"] {
  width: 385px;
  min-height: 60px;
  background: #1878dc;
  border-radius: 2px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: 0.2s ease-in-out;
}

.form__button[type="reset"] {
  border: none;
  background: none;
  color: darkslategray;
  font-size: 16px;
  margin-left: 20px;
}

.form__input[type="text"]:focus,
.form__input[type="password"]:focus {
  outline-color: #2f71e5;
  outline-style: solid;
  outline-width: 1px;
}
