.page {
  min-width: 1100px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 80px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  color: #000;
}

.accent-text {
  font-family: "Noto Serif";
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.6px;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 30px;
  max-width: 729px;
  margin-top: 28px;
  margin-bottom: 0px;
  padding-left: 80px;
  color: #000000;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  max-width: 646px;
  max-height: 568px;
  z-index: 1;
}

.header__footer {
  margin-top: auto;
  color: #6f6f6f;
  margin-right: 80px;
  padding-left: 80px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #e96e3a;
  text-decoration: none;
}

/* .header__link:hover {
  color: #d35722;
  } */

.header__address {
  margin: 0;
  padding-right: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
}

.nav__logo {
  width: 105px;
  height: 39px;
  padding-left: 30px;
}

.nav__links {
  font-weight: 500;
  max-width: 1202px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 20px;
  padding: 0px 2px 0px 0px;
  margin: 0 0px;
  list-style: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  gap: 20px;
  font-weight: 500;
}

/* .nav__link:hover {
color: #d35722;
} */

/* RECIPES SECTION */
.recipes {
  color: #fff;
  background-color: #0a2750;
  background-size: cover;
  background-image: url(../images/background_recipes.svg);
}
.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
  margin-bottom: 24px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 0;
  margin-left: 80px;
}

.recipes__videos {
  margin-top: 80px;
  padding-bottom: 215px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.video-info {
  display: flex;
  justify-content: space-between;
}

/* RESERVATION SECTION */
.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.reservation__form {
  margin: 0 auto;
  max-width: 480px;
  max-height: 536px;
  font-family: "Inter", sans-serif;
}

.reservation__title {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
}

.form__fieldset {
  margin-bottom: 32px;
  border: none;
}

.form__label {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__label_full-name {
  margin-top: 80px;
}

.form__label[for="tos-agree"] {
  display: inline;
  margin-left: 12px;
  vertical-align: middle;
  font-weight: 400;
}

.form__input {
  background: #ffffff;
  border: 1px solid #838383;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 385px;
  padding: 24px;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="datetime-local"],
.form__input[type="email"],
.form__input[type="submit"] {
  border-radius: 4px;
  min-width: 385px;
  min-height: 60px;
}

.form__input::placeholder {
  font-size: 16px;
  color: #8b8b8b;
}

.form__input[type="checkbox"] {
  border-radius: 4px;
  min-width: 28px;
  min-height: 28px;
  vertical-align: middle;
}

.form__button[type="submit"] {
  max-width: 385px;
  min-height: 60px;
  background: #1878dc;
  border-radius: 2px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__button[type="reset"] {
  border: none;
  background: none;
  color: darkslategray;
  font-size: 16px;
  margin-left: 20px;
}

.form__input[type="text"]:focus,
.form__input[type="password"]:focus {
  outline-color: #2f71e5;
  outline-style: solid;
  outline-width: 1px;
}
